@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container{
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #ffffff 60%, #60e7cc86 100%);
  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index: 0;
}


html,body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: rgb(22, 22, 22);
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { 
  font-size: 2em; 
}

h2 {
  color: rgb(22, 22, 22);
  font-size: 2em;
}

.introduction{
  margin-left: 5rem;
  margin-top: 10rem;
  z-index: 1;

}

p{
  font-size: 0.8rem;
}


@media only screen and (max-width: 800px) {

  *{
    overflow-y: unset !important;
    overflow-x: hidden;
  }
  .container{
    overflow-y: initial;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    background: linear-gradient(0deg, #ffffff 60%, #60e7cc86 100%);
    -webkit-animation: AnimationName 22s ease infinite;
    -moz-animation: AnimationName 22s ease infinite;
    animation: AnimationName 22s ease infinite;
  }

  .container h1 {
    margin: 0%;
  }

  .introduction{
    justify-self: center;
    align-self: center;
    margin-left: 0rem;
    margin-top: 0rem;
    z-index: 1;
  
  }
}



@media only screen and (max-width: 800px) {

  h1 { 
    font-size: 1.5em; 
  }
}